/* Import Fonts */
@font-face{
    font-family: "Minimal";
    src:url(./fonts/Gidole-Regular.otf);
}

html, body
{
	/* Expand dimensions to whole screen */
	min-height:100%;
	min-width: 100%;
	/* Must change html background color and not body */
	/* Otherwise weird coloring effect takes place */
	/* In location that there is no CSS boxes */
	background-color: #212121;
	/* Prevents box sizes to overflow past sides */
	/* i.e. prevents horizonal scroll */
	box-sizing: border-box;
	margin: 0px 0px;
}

body
{
	position: absolute;
	/* Font Color */
    color: #F0F0F0; 
    font-family: Minimal;
    /* Keep all items slightly away from edges */
}

/* Modify size of h1 text */
h1
{
    color: #6084B4;
    font-size: 300%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* Ensure spaced properly when screen size changes */
	line-height: 1em;
}

h2
{
    color: #6084B4;
    font-size: 150%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* Ensure spaced properly when screen size changes */
	line-height: 1em;
}

/* Link properties */
/* Visited link properties */
a:link, a:visited 
{
    /* Do not highlight when link clicked previously */
    text-decoration: none;
}

/* Link mouseover properties */
a:hover h2
{
    /* Change color when mouse over */
    color: #F0F0F0;
}


/* LANDING PAGE PROPERTIES */
#entrance
{
	height: 100vh;
	min-width: 100%;
	background-image: url("./entrance.png");
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-bottom: 0%;
}

#entrance > a, #entrance > a:link, #entrance a:visited
{
	margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-decoration: none;
    color: #F0F0F0;
    border: 3px solid #F0F0F0;
    border-radius: 2.5%;
    padding: 0% 3%;

}
#entrance a:hover
{
	background-color: #F0F0F0;
	color: #273E56;
	transition: .2s;
}
/* END LANDING PAGE PROPERTIES */

#mainpage
{
	min-height: 100.5vh;
}

/* MY NAME SECTION */
#title
{
	margin-top: 0%;
	grid-column: 1 / -1;
}

#title h1
{
	font-size: 350%;
	text-align: center;
	margin-bottom: 1%;
}
/* END MY NAME SECTION */


/* GRID PROPERTIES */
/* Change each section into a grid */
#wrapper
{
	padding: 2%;
	/* Turn into CSS grid */
	display: grid;
	/* Amount of space between items */
	/* Can specify between rows/columns individually */
	grid-gap: 4%;
	/* Distibution of columns */
	/* Use mobile default */
	grid-template-columns: 1fr;
}
/* END GRID PROPERTIES */


/* ABOUT ME SECTION */
/* Graphic art of me properties*/
#self
{
	min-height: 100%;
	position: relative;
}
#self > img
{
	/*position: absolute;
	/*transform: translate(0, -20%); 
	/* Have object cover entire cell area */
    object-fit: cover;
    /* Make it 86% of element area */
    /* Height will automatically scale */
  	width: 90%;
  	/* Add margins to photo */
    margin: 0% 5%;
}

/* END ABOUT ME SECTION */


/* LIST ITEMS/ BUTTON PROPERTIES */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  padding: .5% .5%;
  /* Default button color is not transparent */
  background-color: #212121;
  /* Change cursor to be hand whenever over collapsible div */
  cursor: pointer;
  width: 100%;
  /* Remove button border */
  border: none; 
  /* Remove button outline when clicked */
  outline: none;
  /* Add a bit of border to separate entries */
  border-bottom: 2px solid #303030;
  /* Button is center default. Move left */
  text-align: left;
  /* Set max button height */
  height: 6em;

  position: relative;
}


.collapsible img
{	
	/* Prevent image overflow out of container */
	object-fit: contain;
	/* make image stretch to full size in box */
	max-height: 100%;
	/* Float left to allow text to be on same line */
	float: left;
}

#brain .collapsible img
{
	height: 90%;
}

.collapsible h1
{
	/* Keep title name gap same from side */
	margin-left: 2em;
	position: absolute;
	top:50%;
	transform: translate(0, -50%);
}

.active, .collapsible:hover {
    background-color: #303030;
    transition: .2s;
}

.content {
    padding: 0% 1%;
    /* Prevent invisible box from taking up space when unseen */
    overflow: hidden;
    /* Initial height of content */
    max-height: 0;
    /* Transition content box to max height in .2s */
    transition: max-height 0.2s ease-out;
    background-color: #262626;
    margin-bottom: 1%;
}
/* END LIST ITEM PROPERTIES */


#bottom
{
	display: block;
	text-align: center;
	padding: 1%;
}

/* MEDIA PROPERTIES */
/* For desktop configurations set columns to two */
@media screen and (min-width: 37em) {  
    #wrapper 
    { 
        grid-template-columns: 1fr 2fr;
    }

    #nav_links
	{
		margin-top: 20%;
	}
	#bottom
	{
		grid-column: 1 / -1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	#title h1
	{
		margin-bottom: 0%;
		padding-bottom: .5%;
	}
	#entrance a
	{
		top: 88%;
	}
}