/* Import Fonts */
@font-face{
    font-family: "Minimal";
    src:url(./fonts/Gidole-Regular.otf);
}

html, body
{
	min-height:100%;
	min-width: 100%;
	/* Must change html background color and not body */
	/* Otherwise weird coloring effect takes place */
	/* In location that there is no CSS boxes */
	background-color: #212121;
	/* Prevents box sizes to overflow past sides */
	/* i.e. prevents horizonal scroll */
	box-sizing: border-box;
}

body
{
	position: absolute;
	/* Font Color */
    color: #F0F0F0; 
    font-family: Minimal;
    /* Keep all items slightly away from edges */
    padding: 1.5%;
}

/* Modify size of h1 text */
h1
{
    color: #6084B4;
    font-size: 300%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* Ensure spaced properly when screen size changes */
	line-height: 1em;
}

/* Link properties */
/* Visited link properties */
a:link, a:visited 
{
    /* Do not highlight when link clicked previously */
    text-decoration: none;
}

/* Link mouseover properties */
a:hover h1
{
    /* Change color when mouse over */
    color: #F0F0F0;
}

/* Change each section into a grid */
#wrapper
{
	/* Turn into CSS grid */
	display: grid;
	/* Amount of space between items */
	/* Can specify between rows/columns individually */
	grid-gap: 4%;
	/* Distibution of columns */
	/* Use mobile default */
	grid-template-columns: 1fr;
	}

/* For mobile/tablet configurations change to a single column instead of two */
@media screen and (min-width: 37em) {  
    #wrapper 
    { 
        grid-template-columns: 1fr 2fr;
    }

    #nav_links
	{
		margin-top: 30%
	}
}
/* ABOUT ME SECTION */
#title h1
{
	font-size: 350%;
	text-align: center;
	margin-bottom: 5%;
}
/* Graphic art of me properties*/

#self > img
{
	/* Have object cover entire cell area */
    object-fit: cover;
    /* Make it 86% of element area */
    /* Height will automatically scale */
  	width: 86%;
  	/* Add margins to photo */
    margin: 0% 7%;
}

/* Modify about box description */
#about_section
{
	/* Keep border slightly away from text */
	padding: .5% 1%;
	/* Round box corners */
	border-radius: 3%;
	/* Let the background color of the about box be slightly lighter #414447*/
	background-color: #262626;

}
/* about body properties */
#description
{
	/* Change line spacing to 1.5 space*/
	line-height: 1.5em;
}
/* END ABOUT ME SECTION */

/* LIST ITEMS/ BUTTON PROPERTIES */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  padding: 1% 1%;
  /* Default button color is not transparent */
  background-color: #212121;
  /* Change cursor to be hand whenever over collapsible div */
  cursor: pointer;
  width: 100%;
  /* Remove button border */
  border: none; 
  /* Remove button outline when clicked */
  outline: none;
  /* Add a bit of border to separate entries */
  border-bottom: 2px solid #303030;
  /* Button is center default. Move left */
  text-align: left;
  /* Set max button height */
  height: 6em;
  /* Soften corners by rounding them slightly */
  border-radius: 3%;
}

.collapsible img
{	
	/* Prevent image overflow out of container */
	object-fit: contain;
	max-height: 100%;
	float: left;
}

.collapsible h1
{
	margin-left: 1.5em;
}

.active, .collapsible:hover {
  background-color: #303030;
}

.content {
  padding: 0 1%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #262626;
  margin-bottom: 2%;
}