html
{
	height: 100%;
}

body
{
	color: #F0F0F0; /* Font Color */
	background-color: #212121;
	font-family: Bookman /* Courier */;
	height: 100%;
}

h1, h2, h3
{
	font-family: Verdana;
}

#main
{
	text-align: center;
	position: relative;
	background-size: 100%; /* Ensure shows whole width of image */
	height: 100%; /* Make sure to cover entire area */
	background-repeat: no-repeat; /* Does not repeat if shows whole image without covering entire area */
}

.nav_links 
{
	display: inline-block;
}

.nav_links ul
{
	list-style-type: none; /* Remove bullet points */
}

.nav_links li
{
	margin-left: -2%; /* Need to learn why it isn't centered perfectly */
	float: left; /* Change to Horizontal */
}

.nav_links a /* Keeps font color same even after visiting */
{
	color: #F0F0F0;
	padding: 5px 20px;
}

.nav_links a:link, a:visited /* Do not highlight when link clicked previously */
{
	text-decoration: none;
}

.nav_links a:hover /* Change color when mouse over */
{
	color: #6ABED8;
}

#about
{
	/* Places text in center of page */
	position: fixed; /* Make it based on #main box */
	top: 50%; /* Moves down halfway */
	left: 0; /* Moves all the way left */
	width: 100%; /* Stretch to whole screen */
	transform: translate(0, -50%); /* translate(x, y); center the box better */
}

