/* Import Fonts */
@font-face{
    font-family: "Typewriter";
    src:url(./fonts/underwood_champion.ttf);
}

html, body
{
    font-family: "Typewriter";
    color: #F0F0F0;
    /* Expand dimensions to whole screen */
    min-height:100vh;
    min-width: 100%;
    /* Must change html background color and not body */
    /* Otherwise weird coloring effect takes place */
    /* In location that there is no CSS boxes */
    background-color: #161616;
    /* Prevents box sizes to overflow past sides */
    /* i.e. prevents horizonal scroll */
    box-sizing: border-box;
    margin: 0px 0px;
}

img
{
    overflow: contain;
}

/* Have button styling match default */
button
{
    border-style: none;
    font-family: inherit;
    color: inherit;
    outline: none;
    background-color: transparent;
}
    button:hover
    {
        cursor: pointer;
    }

#table
{
    /*position: fixed;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    width: 100%;
}
/* TOP BAR PROPERTIES */
.bar
{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #1E2123;
}

#nav
{
    color: #F0F0F0;
    background-color: #1E2123;
    border-style: none;
    height: 100%;
    width: 100%;
}

.name
{
    text-align: center;
    font-size: 1.1em;
}
    .name > h1 { margin: 0; line-height: 1.5em; }

/* END TOP BAR PROPERTIES */


/* Home page */
.home_body
{
    height: 100%;
    background-position: center;
    background-image: url(./img_home.jpg);
    background-size: auto 100%;
}


/* About page */
.about_body
{
    height: 100%;
    background-position: center;
    background-image: url(./img_about.jpg);
    background-size: auto 100%;
}

#about
{
    position: absolute;
    top: 40%;
    opacity: .85;
    background-color: #1E2123;
    text-align: center;
    font-size: 1.1em;
    overflow: hidden;
    transition: margin-top 0.3s ease-out;
    width: 100%;
}
.about{position: fixed;}


/* Blog page */
.blog_body
{
    height: 100%;
}

.topics
{
    overflow-y: scroll;
}

    .topic
    {
        margin: 3% 4%;
        padding: 4% 3%;
        height: 25%;
        /* Adjusted to account for 4% margin on each side */
        width: 92%;
        background-color: #1E2123;
        
        opacity: .85; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
    }
        .topic > h1 { text-align: center; margin: 0; }

/* General properties of icons */
.icon
{
    /* Adjust for 4% margin on top/bottom and the 3% padding top/bottom */
    height: 86%;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
    /* Blog topic image background
     * just add topic to class and background image */
    .icon.e30 { background-image: url(./e30.svg); }
    
.articles 
{ 
    position: absolute; 
    background-color: black; 
    width: 100%;
    transition: top .3s ease-out;
    transition: opacity .3s linear;
    opacity: 0;
    height: 0px;
    display: block;
    overflow: hidden;
}

.close
{
    border: solid 2px #F0F0F0;
    border-radius: 2px;
    font-size: 1em;
    margin-top: 4%;
    margin-right: 4%;
    padding: .5% 1%;
    float: right;
}
.description 
{ 
    max-width: 70%;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
}
/* Properties when nav bar is open */
.overlay
{
    /* Keep links from exceeding div height */
    overflow: hidden;
    position: relative;
    min-width: 100%;
    background-color: #1E2123;
    opacity: .85;
    min-height: 0;
    transition: min-height 0.3s ease-out;
}
.links
{
    margin-left: 5%;
    position: absolute;
}
    .links a { color: #F0F0F0; text-decoration: none; }

/* MEDIA PROPERTIES */
/* For desktop configurations set columns to two */
@media screen and (min-width: 37em) {  
    #wrap
    {
        max-width: 37em;
        margin: 0 auto;
    }
    #about_wrap
    {
        display: grid;
        grid-template-columns: 1fr 37em 1fr;
        width: 100%;
    }
    #mid
    {
        max-width: 37em;
    }
    #table
    {
        max-width: 37em;
    }
    #about
    {
        max-width: 592px;
    }
    .articles
    {
        max-width: 592px;
    }
}